


<div class="page-wrap">



<form class="join-form js-join-form">

<h1>Join the Club</h1>
<h1>Be in the kNow</h1>



    <div class="input-wrap">
    <label for="first-name">First Name</label>
    <input type="text" id="first-name">
    </div>

  <div class="input-wrap">
    <label for="last-name">Last Name</label>
    <input type="text" id="last-name">
  </div>

  <div class="input-wrap">
    <label for="email">Email</label>
    <input type="text" id="email">
  </div>

  <div class="input-wrap">
    <label for="password">Password</label>
    <input type="text" id="password">
  </div>

  <div class="input-wrap">
    <button type="submit" class="submit">Join</button>
  </div>

</form>

<div class="sidebar-wrap">
<h1>People in the kNow</h1>
  <ul id="members-list">

    <li>
    First Name: {{firstName}}
    <button class="edit-button">Edit</button>
    <button class="delete-button">X</button>
    </li>


  </ul>

</div><!-- .sidebar-wrap -->



</div><!-- .page-wrap -->


{{outlet}}



